@import '../myVariable.scss';
.main-calendar{
    .cells,.selected-cells{
    display: flex;
    height: 100%;
    width: 100%;
    align-items: flex-start;
    justify-content: center;
    cursor: pointer;
    }
    .date-cells{
        .cells:hover{
        background-color: rgba(128, 128, 128, 0.25);
        }
        .selected-cells{
            background-color: #a3c2b7;
        }
    }
}
