@import '../../myVariable.scss';
.right-content{
    position: fixed;
    right: 0;
    bottom: 0;
    width: 310px;
    height: calc(100vh - 175px);
    border-top-left-radius: 10px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    button{
        margin-left:50px; 
    }
}
.primary-button{
    @include button;
    padding: 0;
    border: none;
    outline: none;
    display: inline-flex;
    justify-content: space-evenly;
    box-shadow: $boxShadowButton;
    .icon{
        font-size: 16px;
    }
}
