@import url('https://fonts.googleapis.com/css2?family=Acme&family=EB+Garamond:wght@400;600&display=swap');
*{
  font-family: 'EB Garamond', serif;
}
body{
  font-size: 18px;
  background: #a3c2b7;
  /* background: rgb(97, 173, 188); */
  background: -moz-linear-gradient(top, #a3c2b7 0%, #14393c 50%, #021213 100%);
  background: -webkit-linear-gradient(top, #a3c2b7 0%,#14393c 50%,#021213 100%);
  background: linear-gradient(to bottom, #a3c2b7 0%,#14393c 50%,#021213 100%);
  background-image: url(http://w4.wallls.com/uploads/high-thumbnail/201711/21/157172.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  user-select: none;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
  color: inherit;
}
button{
  cursor: pointer;
}