@import "../../myVariable.scss";
.day-interval{
    overflow: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: white;
    color: black;
    width: calc(89vw - 460px);
    height: calc(100vh - 102px);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    box-shadow:$myBoxShadow;
}
.present-time-wrapper{
    width: calc(85vw - 510px);
    color: blue;
    .circle-icon{
        position: relative;
        padding-left: 68px;
    }
    .present-time{
        position: relative;
        height: 2px;
        border: none;
        width: 100%;
        left: 80px;
        background-color: blue;
    }
}
.day-view{
    padding-left: 300px;
}
.current-day{
    box-sizing: border-box;
    position: fixed;
    z-index:1;
    background-color: white;
    font-size: larger;
    align-self: flex-start;
    padding-left: 75px;
    width: calc(85vw - 400px);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    padding-top: 15px;
}
@media screen and (max-width: 1440px) {
    .current-day{
        width: calc(83vw - 400px);
    }
}
@media screen and (max-width: 1024px) {
    .current-day{
        width: calc(75vw - 400px);
    }
}
.time-interval{
    display: flex;
    flex-direction: column;
}
.one-interval{
    display: flex;
}
.time{
    box-sizing: border-box;
    font-size: 16px;
    position: relative;
    top:10px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.time-format{
    width: 45px;
    text-align: end;
}
.time-line{
    padding-top: 55px;
    width: 1104px;
}
.hour-line{
    border-bottom: 1px solid rgba(128, 128, 128, 0.5);
    width: calc(85vw - 500px);
    height: 45px;
}
.event{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
}
.circle-icon{
    font-size: 12px;
}