.no-event{
    display: none;
}
.event-wrapper{
    position: relative;
}
.display-event{
    position:absolute;
    background-color: #14393c;
    padding:  0 500px;
    color: white;
    width: calc(80vw - 475px);
    border-radius: 5px;
    margin-left: 100px;
    opacity:0.75;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border:1px solid #14393c;
    font-size: 16px;
    .icon{
        font-size: 13px;
        cursor: pointer;
    }
    .delete-update-icon{
        width: 45px;
        display:flex;
        padding: 0 5px;
        span{
            padding: 0 5px;
        }
    }
}
.enlarge{
    @extend .display-event;
}
.enlarge:hover{
    height: 15px !important;
}
.event-name-day-view{
    word-break: break-all;
}