.no-event{
    display: none;
}
.event-wrapper{
    position: relative;
}
.display-event{
    position:absolute;
    background-color: #14393c;
    padding:  0 500px;
    color: white;
    width: calc(80vw - 475px);
    border-radius: 5px;
    margin-left: 100px;
    opacity:0.75;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom:1px;
    border:1px solid #14393c;
    .icon{
        font-size: 14px;
        cursor: pointer;
    }
    span{
        span{
            padding: 0 5px;
        }
    }
}